.counterBox {
    text-align: center;
    background: black;
}

.counterBox div{
    display: inline-block;
    font-size: 70px;
    line-height: 70px;
    background: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-color: white;
}